<div class="section">
	<%= content_tag( 'h1', "Entities co-occurrent with #{@entity.name}" ) %>
	<ol class="tag-cloud cm">
		<%= render :partial => 'entity_for_cloud', :collection => @cooccurrent_entities %>
	</ol>
</div>
